a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand";
  text-align: center;
  padding: 13px;
  margin: 0;
  background-color: white;
}
.titre-page {
  justify-content: center;
}

*a {
  text-decoration: none;
}

.header_page {
  display: flex;
  justify-content: center;
  background-color: white;
}

.fa-arrow-left {
  position: absolute;
  left: 35px;
  top: 2%;
  font-size: 20px;
}
