h1 {
  font-family: "Shrikhand";
  text-align: center;
  padding: 13px;
  margin: 0;
  background-color: white;
}
.titre-page {
  display: flex;
  justify-content: space-evenly;
  margin-left: -156px;
}
