@media (min-width: 760px) {
  .fonctionnement {
    &__mep {
      display: flex;
      flex-direction: row;
    }
  }

  .restaurant {
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__carte {
      width: 20%;
    }
  }
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &__bloc {
      width: 30%;
      margin: 20px;
    }
    /*test ellipsis sur carte menu*/
    &__description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    /*echec du test*/
  }
  .footer {
    &__bloc-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 6px;
    }
  }
}
