.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #f6f6f6;
  opacity: 0;
  inset: 0;
  z-index: -1;

  animation: loaderanim 1s;

  &__spin::after {
    content: "";
    position: fixed;
  }
  &__spin {
    font-size: 3.2rem;
    animation: spin 3s infinite;
    color: #9356dc;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loaderanim {
  0%,
  99% {
    opacity: 0.9;
    z-index: 99;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.menu {
  &__carte {
    &:hover .menu__check {
      display: flex;
      transform: translateX(0);
      margin-right: 0;
      transition: margin-right 2s;
      transition-duration: 1s;
    }
    &:hover i {
      animation: spin-check 1s ease;
    }
  }
  @keyframes spin-check {
    from {
      transform: rotate(-280deg);
    }
    to {
      transform: rotate(0);
    }
  }
  @keyframes apparition {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}